@CHARSET "UTF-8";
/*
 * style.css
 */
body {
  padding-top: 50px;
}

input{
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}
.form-control{
    margin-bottom: 10px;
}

label{
    margin-top: 10%;
}
.texto_id{
    display: inline-block;
    border: 1px solid black;
    color:inherit;
}
.id{
	margin-top:15px;
	float:right;
}

#campo-erros{
    margin-top: 10px;
    padding-top:15px;
}